@model Inntopia.Mobile.Web.Models.Selector

@{
    ViewBag.Title = "SUPPLIER NAME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">View Products For:</li>
    @foreach (var item in Model.SuperCategories)
    {
        <li>
            @if(item.ID == 1) {
                <span class="ui-li-count"><img src="https://wwws.mint.com/sc/ph3035.33.4.2/images/icons/refresh-animated2.gif" height="16" width="15" /></span>
            } else {
                <span class="ui-li-count">@item.Categories.Count()</span>
            }
            @Html.ActionLink(item.Name, "Selector", "Home", 
                new {
                    id = Request.QueryString["ID"],
                    superCategoryID = item.ID
                },
                new { 
                    @data_icon = "home", 
                    @data_iconpos = "left" 
                } )
        </li>
    }
</ul>


<!--
<br />
<br />
<br />
<br />
<br />

    @foreach (var superCategory in Model.SuperCategories)
    {
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">@superCategory.Name:</li>
            @foreach (var category in superCategory.Categories)
            {
                <li>
                    @if (category.ID == 1)
                    {
                        <span class="ui-li-count"><img src="https://wwws.mint.com/sc/ph3035.33.4.2/images/icons/refresh-animated2.gif" height="16" width="15" /></span>
                    } else {
                        <span class="ui-li-count">12</span>
                    }
                    @Html.ActionLink(category.Name, "Selector", "Home", 
                        new {
                            id = category.ID  
                        },
                        new { 
                            @data_icon = "home", 
                            @data_iconpos = "left" 
                        } )
                </li>
            }
        </ul>
    }

    -->


<div data-role="footer" data-position="fixed" >		
	<div data-role="navbar" data-iconpos="top">
		<ul>
			@foreach (var item in Model.SuperCategories) {
               <li>
                    @Html.ActionLink(item.ShortName, "About", "Home", new { 
                        @data_icon = "home", 
                        @data_iconpos = "left" } )
                </li>
            }
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->